INVENTREE_ADMIN_USER=admin
INVENTREE_ADMIN_PASSWORD=YOUR_INVENTREE_ADMIN_PASSWORD
INVENTREE_ADMIN_EMAIL=admin@localhost
INVENTREE_SECRET_KEY=YOUR_LONG_RANDOM_SECRET_KEY
INVENTREE_URL=http://127.0.0.1:8000
